$viewport-mobile: 700px;
$font: 'Roboto', Arial, sans-serif;

$color-primary: #0EC5DE;
$color-secondary: #162233;
$color-secondary-rgb-1: rgba(22, 34 ,51, 1);
$color-secondary-rgb-0: rgba(22, 34 ,51, 0);
$color-body: #F3F3F3;
$color-white: #FFFFFF;