@import "../../commen/variables";

nav {
  &.progress {
    display: flex;
    position: fixed;
    top: 0;
    right: 20px;
    height: 100%;
    z-index: 11;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;

      li a {
        display: block;
        margin: 0 10px;
        width: 3.5px;
        height: 20px;
        border-radius: 5px;
        cursor: pointer;
        background: $color-white;
        transition: all 0.3s ease;

        &:hover, &.active {
          background: $color-primary;
        }

        &.active {
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: $viewport-mobile) {
  nav {
    &.progress {
      display: none;
    }
  }
}