@import "../../commen/variables";
@import "../../commen/animation";

.container {
  margin: 0 auto;
  display: block;
  width: 100%;
  position: relative;
  padding: 100px 0 150px;
}
.content {
  margin: 0 auto;
  display: block;
  max-width: $container-max-width;
  padding: 0 40px;
  text-align: center;
  opacity: 0;

  a.contact {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 15px;
    border: 1px $color-primary solid;
    border-radius: 8px;
    color: $color-white;
    text-decoration: none;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("../../assets/images/icons/icon-say-hello.svg") no-repeat center left;
      background-size: contain;
      margin-right: 10px;
    }

    &:hover {
      background: #121c2c;
    }
  }
}

@media screen and (max-width: $container-min-width) {
  .container {
    background: #121c2a;
    padding: 80px 0 100px;
  }
}
