@import "../../commen/variables";
@import "../../commen/animation";
@import "../../commen/container";

.container {
  .content {
    .timeline {
      display: block;
      position: relative;
      width: 100%;
      min-height: 400px;
      padding-bottom: 10px;

      .item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .company {
          flex: 1;
          padding: 20px;
          text-align: left;
          position: relative;

          .tags {
            display: flex;
            padding-top: 8px;
            gap: 5px;
            align-items: flex-start;

            .tag {
              display: inline-block;
              padding: 3px 8px;
              background: #1B2A3F;
              border-radius: 5px;
              color: $color-white;
              font-size: 14px;
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: 28px;
            left: -2px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #2D3C52;
          }
        }

        .date {
          flex: 1;
          padding: 20px;
          text-align: right;
        }

        &:nth-child(even) {
          flex-direction: row-reverse;

          .company {
            text-align: right;

            .tags {
              flex-direction: row-reverse;
            }

            &::before {
              left: unset;
              right: -4px;
            }
          }

          .date {
            text-align: left;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 28px;
        left: 50%;
        bottom: 0;
        width: 1px;
        background-color: #2D3C52;
      }
    }

    a.linkedin {
      display: inline-block;
      padding: 8px 15px;
      border: 1px $color-primary solid;
      border-radius: 8px;
      color: $color-white;
      text-decoration: none;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        display: inline-block;
        background: url("../../assets/images/icons/icon-linkedin.svg") no-repeat center left;
        background-size: contain;
        margin-right: 10px;
      }

      &:hover {
        background: #121c2c;
      }
    }
  }
}

